footer.universal_footer.expanded_footer.footer_accordion
  nav.primary_footer_nav
    button.footer-accordion-trigger.accordion-toggle Site Map
    .accordion-content
      .nav_group
        h5.group_header For Job Seekers
        ul
          li.item
            a(href='/') Search Jobs
          li.item
            a(href='/browse') Browse Jobs
          li.item
            a(href='/browse/companies') Browse Companies
          li.item
            a(href='/job-seeker-reviews') Job Seeker Reviews
          li.item
            a(href='/mobile') Mobile Apps
          li.item
            a(href='/contact/create') Create Free Account
          li.item
            a(href='https://support.ziprecruiter.com/candidate' target='_blank') Job Seeker Help
      .nav_group
        h5.group_header For Employers
        ul
          li.item
            a(href='/post-a-job') Post a Job Now
          li.item
            a(href='/how-it-works') How it Works
          li.item
            a(href='/job-boards') Job Boards
          li.item
            a(href='/employer-reviews') ZipRecruiter Reviews
          li.item
            a(href='/plans') Plans
          li.item
            a#enterprise_drop_down(href='/enterprise') Enterprise
          li.item
            a(href='/resume-database/search') Search Resumes
          li.item
            a.mobile_link(href='/mobile-app-redirect?area=user-dashboard-footer' target='_blank') Employer Mobile App
          li.item
            a(href='https://support.ziprecruiter.com' target='_blank') Employer Help
      .nav_group
        h5.group_header Partner with Us
        ul
          li.item
            a(href='/publishers#intsrc=publisherfooter.api&zipsearch') Job Board API
          li.item
            a(href='/publishers#intsrc=publisherfooter.backfill&zipsearch') Job Search Backfill
          li.item
            a(href='/publishers#intsrc=publisherfooter.emailalert&zipalerts') Email Alert Program
          li.item
            a(href='/publishers#intsrc=publisherfooter.reseller&zippost') Reseller Program
          li.item
            a(href='/ats-partners#intsrc=publisherfooter.ats') ATS Integrations
          li.item
            a(href='/newspaper-partners#intsrc=publisherfooter.newspaper&partners') Newspaper Partnerships
      .nav_group.company_group
        h5.group_header Company
        ul
          li.item
            a(href='/about') About Us
          li.item
            a(href='/careers') Careers
          li.item
            a(href='/blog/') Blog
          li.item
            a(href='/press') Press
          li.item
            a(href='/zipcares') ZipCares
      .nav_group.contact_group
        h5.group_header Contact Us
        ul
          li.item
            a.phone_number(href='/candidate/contactus') Call (877) 252-1062
          li.item
            a.chat.chatTrigger(href='/candidate/contactus' title='Click to open live chat') Live Chat
          li.item
            a.email(href='/candidate/contactus') Email Us
        .social_group
          ul
            li.social-item
              a.facebook(href='https://www.facebook.com/ZipRecruiter' title='Follow ZipRecruiter on Facebook')
                span.visual_hide Facebook
              a.twitter(href='https://twitter.com/ziprecruiter' title='Follow ZipRecruiter on Twitter')
                span.visual_hide Twitter
              a.linkedin(href='https://www.linkedin.com/company/ziprecruiter/' title='Follow ZipRecruiter on LinkedIn')
                span.visual_hide LinkedIn
  nav.secondary_footer_nav
    a(href='/privacy')
      | Privacy
      span.fullText  Policy
    a(href='/terms')
      | Terms
      span.fullText  of Use
    a(href='/notices')
      | Attribution
      span.fullText  Notices
    a(href='/corporate-responsibility')
      | Corp
      span.fullText orate
      |  Responsibility
    span.legal ZipRecruiter, Inc. &copy; All Rights Reserved Worldwide
    // TRUSTe cookie button
    #teconsent.teconsent
    // end TRUSTe cookie button
