footer.card-footer
  .container
    .row
      // row
      .col-lg-3.col-md-3
        // widgets column left
        ul.list-unstyled.clear-margins
          // widgets
          li.widget-container.widget_nav_menu
            // widgets list
            h1.title-widget Useful links
            ul.list-unstyled.clear-margins
              li
                a(href='#')
                  i.fa
                  |  About Us
              li
                a(href='#')
                  i.fa
                  |  Contact Us
              li
                a(href='#')
                  i.fa
                  |  Success Stories
              li
                a(href='#')
                  i.fa
                  |  PG Courses
              li
                a(href='#')
                  i.fa
                  |  Achiever&apos;s Batch
              li
                a(href='#')
                  i.fa
                  |   Regular Batch
              li
                a(href='#')
                  i.fa
                  |   Test &amp; Discussion
              li
                a(href='#')
                  i.fa
                  |   Fast Track T &amp; D
      // widgets column left end
      .col-lg-3.col-md-3
        // widgets column left
        ul.list-unstyled.clear-margins
          // widgets
          li.widget-container.widget_nav_menu
            // widgets list
            h1.title-widget Useful links
            ul.list-unstyled.clear-margins
              li
                a(href='#')
                  i.fa 
                  |   Test Series Schedule
              li
                a(href='#')
                  i.fa 
                  |   Postal Coaching
              li
                a(href='#')
                  i.fa 
                  |   PG Dr. Bhatia Books
              li
                a(href='#')
                  i.fa 
                  |   UG Courses
              li
                a(href='#')
                  i.fa 
                  |   Satellite Education
              li
                a(href='#')
                  i.fa 
                  |   Study Centres
              li
                a(href='#')
                  i.fa 
                  |   State P.G. Mocks
              li
                a(href='#' target='_blank')
                  i.fa 
                  |  Results
      // widgets column left end
      .col-lg-3.col-md-3
        // widgets column left
        ul.list-unstyled.clear-margins
          // widgets
          li.widget-container.widget_nav_menu
            // widgets list
            h1.title-widget Useful links
            ul
              li
                a(href='#')
                  i.fa 
                  |  Enquiry Form
              li
                a(href='#')
                  i.fa 
                  |  Online Test Series
              li
                a(href='#')
                  i.fa 
                  |  Grand Tests Series
              li
                a(href='#')
                  i.fa 
                  |  Subject Wise Test Series
              li
                a(href='#')
                  i.fa 
                  |  Smart Book
              li
                a(href='#')
                  i.fa 
                  |  Test Centres
              li
                a(href='#')
                  i.fa 
                  |   Admission Form
              li
                a(href='#')
                  i.fa 
                  |   Computer Live Test
      // widgets column left end
      .col-lg-3.col-md-3
        // widgets column center
        ul.list-unstyled.clear-margins
          // widgets
          li.widget-container.widget_recent_news
            // widgets list
            h1.title-widget Contact Detail 
            .footerp
              h2.title-median Webenlance Pvt. Ltd.
              p
                b Email id:
                a(href='mailto:info@webenlance.com') info@webenlance.com
              p
                b Helpline Numbers 
                b(style='color:#ffc106;') (8AM to 10PM):
                |   +91-8130890090, +91-8130190010
              p
                b Corp Office / Postal Address
              p
                b Phone Numbers : 
                | 7042827160,
              p  011-27568832, 123456789
            .social-icons
              ul.nomargin
                a(href='https://www.facebook.com/bootsnipp')
                  i#social.fab.fa-facebook-square.fa-3x.social-fb
                a(href='https://twitter.com/bootsnipp')
                  i#social.fab.fa-twitter-square.fa-3x.social-tw
                a(href='https://plus.google.com/+Bootsnipp-page')
                  i#social.fab.fa-google-plus-square.fa-3x.social-gp
    // header
    .footer-bottom
      .container
        .row
          .col-xs-12.col-sm-6.col-md-6.col-lg-6
            .copyright
              | &copy; 2018, CareerNester, All rights reserved
          .col-xs-12.col-sm-6.col-md-6.col-lg-6
            .design
              a(href='#') Franchisee 
              |  |  
              a(target='_blank' href='http://www.careernester.com') Web Design &amp; Development by Webenlance
