extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 #{employer.company}

  .row.row-offcanvas.row-offcanvas-right
    // /.col-xs-12.col-sm-9
    #sidebar.col-xs-6.col-sm-3.col-sm-pull-9.sidebar-offcanvas
      .list-group
        a.list-group-item.active(href='#') Overview
        a.list-group-item(href='#') Company Culture
        a.list-group-item(href='#') News
        a.list-group-item(href='#') Post Job
        a.list-group-item(href='#') CEO
        a.list-group-item(href='#') Manageer's message
    // /.sidebar-offcanvas
    .col-xs-12.col-sm-9.col-sm-push-3
      p.pull-right.visible-xs
        button.btn.btn-primary.btn-xs(type='button' data-toggle='offcanvas' title='Toggle sidebar')
          i.fa.fa-chevron-right
      .jumbotron
        h1 Hello, world! #{employer.company}
        p
          | This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.
      .row
        .col-xs-6.col-lg-4
          h2 Heading
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          p
            a.btn.btn-default(href='#' role='button') View details &raquo;
        // /.col-xs-6.col-lg-4
        .col-xs-6.col-lg-4
          h2 Heading
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          p
            a.btn.btn-default(href='#' role='button') View details &raquo;
        // /.col-xs-6.col-lg-4
        .col-xs-6.col-lg-4
          h2 Heading
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          p
            a.btn.btn-default(href='#' role='button') View details &raquo;
        // /.col-xs-6.col-lg-4
        .col-xs-6.col-lg-4
          h2 Heading
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          p
            a.btn.btn-default(href='#' role='button') View details &raquo;
        // /.col-xs-6.col-lg-4
        .col-xs-6.col-lg-4
          h2 Heading
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          p
            a.btn.btn-default(href='#' role='button') View details &raquo;
        // /.col-xs-6.col-lg-4
        .col-xs-6.col-lg-4
          h2 Heading
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          p
            a.btn.btn-default(href='#' role='button') View details &raquo;
        // /.col-xs-6.col-lg-4
      // /row
    
  // /row