extends layout

block content
  
  .row
    .col-md-6
      h2 Over 8 Million Jobs
      p Starting the first job can always be hard, But not to worrry, CareerNests helps you locate your first meaningful internship, find your first professional job, and most importantly accompany you through ups and downs - prepares you for the best.
      p
        a.btn.btn-raised(href='#', role='button') Find Your Future Job
    .col-md-6
      img(src='/img/jobs_map.svg' data-src='/img/jobs_map.svg' width='505' height='306' alt='')
    .col-md-6
      h2 AI technology + Career Mentors + Lawyer
      p will help and protect your career grow every step of the way, Artificial Intelligence helps you stay on top of your career planning. Our Career Coach and Mentor will use the technology to help you plan and execute.
    .col-md-6
      img(src='/img/ai.jpg' data-src='/img/ai.jpg' width='590' height='350' alt='')
    .col-md-6
      img(src='/img/apply_click.svg' data-src='/img/apply_click.svg' width='547' height='428' alt='')
    .col-md-6
      h2 Apply with One Click
      p Upload your resume as simple as 1,2,3. And track your application progress. Jobs for everyone, whether you are experienced or just out of school, whether you are international students or locals who are looking to other parts of world for opportunities.
      p
        a.btn.btn-raised(href='#', role='button') Find Your Future Job